* {
	padding: 0px;
	margin: 0px;
	border: 0px;
	box-sizing: border-box;
	font-family: Montserrat;
}

:root {
	--scrollColor: rgb(87, 186, 186);
	--vh: 1px;
	--ru: 1vmin;
	height: calc(var(--vh, 1vh) * 99);
}

body {
	height: calc(var(--vh, 1vh) * 99);
	background-color: rgb(26, 22, 32);
	z-index: 0;
}

#game_div {
	width: 100vw;
	height: calc(var(--vh, 1vh) * 99);
	overflow: hidden;
}

#top_div {
	position: relative;
	height: calc(var(--vh, 1vh) * 10);
}

#toggleAudio_btn {
	display: none;
	position: absolute;
	left: 2px;
	color: rgb(148, 148, 148);
	background-color: transparent;
	box-shadow: none;
	padding: 0px;
	z-index: 25;
	margin: 1vmin;
}
#toggleAudio_btn > svg {
	width: calc(var(--ru, 1vmin) * 4);
	height: calc(var(--ru, 1vmin) * 4);
}

#unmutedIcon_svg {
	display: none;
}

#mutedIcon_svg {
	display: none;
}

#defsTitle_h1 {
	visibility: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: min-content;
	color: rgb(148, 148, 148);
	font-weight: 100;
	font-size: 4vmin;
	z-index: 100;
	text-align: center;
}

#score_span {
	color: rgb(148, 148, 148);
	font-size: 2vmin;
	position: absolute;
	right: 2px;
}

#mid_div {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	height: calc(var(--vh) * 50);
	margin-top: calc(var(--vh) * 3);
	margin-bottom: calc(var(--vh) * 3);
	z-index: 4;
}

#reveal_btn {
	grid-area: buttons;
	line-height: 0px;
	text-align: center;
	vertical-align: middle;
	color: rgb(148, 148, 148);
	font-weight: 100;
	background-color: rgba(30, 30, 30, 0.3);
	box-shadow: 1px 1px rgb(0, 0, 0, 1);
	user-select: none;
	cursor: pointer;
}

#defsCard_div {
	--pink: rgba(240, 46, 170, 0.4);
	--cyan: rgba(46, 240, 240, 0.4);
	display: flex;
	grid-area: defs;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 5vmin;
	height: 45vmin;
	width: 45vmin;
	column-gap: 5vmin;
	background-color: rgb(10, 10, 10, 0.45);
	box-shadow: var(--pink) -4px 5px, var(--pink) 4px -5px, var(--pink) -10px 10px,
		var(--pink) 10px -10px, var(--pink) -15px 15px, var(--pink) 15px -15px;
	animation: growAndStyle 2000ms paused forwards;
	z-index: 1;
}

::-webkit-scrollbar {
	width: 3.5vmin;
}

::-webkit-scrollbar-thumb {
	background-color: var(--scrollColor);
	border-left: 0.5vmin solid rgb(50, 50, 50);
	border-right: 0.5vmin solid rgb(50, 50, 50);
	border-top: 1vmin solid rgb(50, 50, 50);
}

::-webkit-scrollbar-track {
	background: rgb(50, 50, 50);
	margin-block: 4px;
}

@supports (scrollbar-color: red blue) {
	#defsCard {
		scrollbar-color: var(--scrollColor) rgb(50, 50, 50);
	}
}

@keyframes growAndStyle {
	100% {
		width: 80vw;
		height: calc(var(--vh, 1vh) * 50);

		box-shadow: var(--cyan) -4px 5px, var(--cyan) 4px -5px,
			var(--cyan) -10px 10px, var(--cyan) 10px -10px, var(--cyan) -15px 15px,
			var(--cyan) 15px -15px;
		background-color: rgba(17, 17, 17, 0.14);
	}
}

#wordsSeen_div {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	column-gap: 1vmin;
	padding: 4vmin;
}

#wordsSeenList > Li::before {
	content: "→ ";
}

#wordsSeen_ul {
	list-style: none;
	line-height: 7vmin;
	font-size: 4vmin;
	color: rgb(239, 239, 239);
}

#copy_div {
	flex-direction: column;
	justify-items: flex-start;
}

#copy_div > button {
	position: relative;
	width: 7vmin;
	height: 7vmin;
	padding: 0px;
	transform: scale(85%);
}

#copy_div > button > svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#defs_ul {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-align: left;
	text-rendering: optimizeLegibility;
	font-weight: 100;
	word-break: keep-all;
	color: rgb(239, 239, 239);
	font-size: 4vmin;
	z-index: 30;
	line-height: 7vmin;
	overflow-y: auto;
	max-height: calc(var(--vh, 1vh) * 45);
	width: 100%;
}

#defsList_div {
	display: none;
	place-content: center;
}

#defs_ul > Li {
	list-style: none;
	padding-left: 5vmin;
	padding-right: 5vmin;
	overflow-wrap: anywhere;
}

#defs_ul > Li::before {
	content: "→ ";
}

#gameTitle_div {
	height: 23vmin;
	word-wrap: normal;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#gameTitle_h1 {
	color: rgb(187, 187, 187);
	font-size: 6.5vmin;
	font-weight: 100;
	user-select: none;
	text-align: center;
	display: inline-block;
}

#cursor_span {
	font-size: 90%;
	text-align: center;
	animation-name: blink;
	animation-duration: 0.6s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	position: relative;
	bottom: 0.5vmin;
	color: rgb(239, 239, 239);
}

#toastTip_div {
	display: none;
	position: absolute;
	bottom: 2vmin;
	text-align: center;
	font-size: 3vmin;
	color: rgba(110, 110, 110, 0.61);
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}
#bottom_div {
	display: flex;
	position: relative;
	height: calc(var(--vh, 1vh) * 33);
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	z-index: 20;
}

#btns_div {
	display: none;
	align-items: center;
	justify-content: center;
	color: rgb(148, 148, 148);
	animation-name: showingUp;
	animation-direction: normal;
	animation-delay: 1s;
	animation-duration: 0.1s;
	animation-fill-mode: forwards;
	animation-play-state: paused;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: " home ans tip next ";
	opacity: 0%;
	justify-items: center;
	align-items: center;
	height: min-content;
	row-gap: 3vmin;
	column-gap: 1vmin;
	margin-bottom: 1vmin;
}

#btns_div button {
	color: rgb(148, 148, 148);
	width: 10vmin;
	height: 6vmin;
	padding: 0px;
}
#info_div {
	width: 70%;
	padding: 1vmin;
}
#info_div > button {
	display: block;
	margin: 1vmin auto;
	padding: 0px;
	background-color: transparent;
	box-shadow: none;
}
#info_div img {
	width: calc(25px - 0.5vmin);
	height: calc(25px - 0.5vmin);
}
#infoText_para {
	font-size: 2.5vmin;
	text-align: center;
	color: rgb(133, 133, 133);
}

#speedBtns_div {
	display: none;
	justify-content: center;
	grid-area: speed;
}
#speedBtns_div button {
	position: relative;
	width: 10vmin;
	height: 6vmin;
	padding: 0px;
}
#speedBtns_div button svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#speedUp_btn {
	grid-area: su;
}
#speedDown_btn {
	grid-area: sd;
}
#home_btn {
	grid-area: home;
}
#showAnswer_btn {
	grid-area: ans;
}
#tip_btn {
	grid-area: tip;
}
#copyAnswer_btn {
	grid-area: ans;
}
#next_btn {
	grid-area: next;
}
#homeBtns_div {
	margin-top: calc(var(--vh, 1vh) * 2);
}

#homeBtns_div > button {
	display: block;
	margin: 1vmin auto;
}
#copyAnswer_btn {
	display: none;
	padding: 8px 14px 8px 14px;
}

.drop-animation {
	animation: goDown 2000ms forwards;
}

@keyframes goDown {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(100vh);
	}
}

#inputs_div {
	display: none;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	column-gap: 0px;
	height: calc(var(--ru, 1vmin) * 8);
	width: calc(var(--ru, 1vmin) * 6);
	position: relative;
	overflow-x: hidden;
	overflow-y: visible;
}

.letterInputs {
	--cyan: rgba(46, 240, 240, 0.12);
	font-size: calc(5vmin * 0.4);
	text-align: center;
	color: rgb(212, 212, 212);

	height: calc(var(--ru, 1vmin) * 8);

	width: calc(var(--ru, 1vmin) * 6);
	opacity: 100%;
	background-color: var(--cyan);
	font-family: Arial, Helvetica, sans-serif;
	outline: 0;
	text-transform: lowercase;
	margin-left: 0.4vmin;
}

#info_btn {
	color: white;
	width: 4vmin;
	height: 4vmin;
	opacity: 40%;
}

button {
	font-size: 2vmin;
	line-height: 0px;
	text-align: center;
	vertical-align: middle;
	color: rgb(148, 148, 148);
	padding: 14px;
	font-weight: 100;
	background-color: rgba(30, 30, 30, 0.3);
	box-shadow: 1px 1px rgb(0, 0, 0, 1);
	user-select: none;
}

button:hover {
	cursor: pointer;
}

button:focus {
	--webkit-appearrence: none;
	outline: none;
}

button:active {
	scale: 0.9;
}

.btn:active {
	box-shadow: -2px 2px 5px rgba(0, 255, 225, 1),
		2px -2px 5px rgba(240, 46, 170, 1) !important;
}

#generalToast_div {
	position: absolute;
	top: 5vmin;
	left: 50%;
	font-size: 2vmin;
	transform: translateX(-50%);
	background-color: rgba(25, 25, 25, 0.812);
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	z-index: 9999;
	display: none;
	user-select: none;
}

#generalToast_div.show {
	display: block;
}

@keyframes scale {
	0% {
		height: 36vmin;
		width: 36vmin;
	}

	100% {
		width: 80vw;
		height: 100vh;
	}
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	49% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes showingUp {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 100%;
	}
}

@keyframes dealing_cards_translation {
	0% {
		right: 100vw;
	}

	100% {
		right: 0vw;
	}
}

@keyframes dealing_cards_spread {
	100% {
		width: 100vw;
		flex-wrap: wrap;
	}
}
