
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: Montserrat;
}
:root{
    --scrollColor: rgb(87, 186, 186);
}
body {
    background-color: rgb(32, 30, 39);
    z-index: 0;
}
#gameContainer{
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh)*100);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
    
    #topContainer {
        display: flex;
        padding-top: 1vh;
        padding-bottom: 1vh;
        justify-content: start;
        align-items: flex-start;
    }
        #toggleAudioBtn{
            display: none;
            position: absolute;
            left: 2px;
            color: rgb(148, 148, 148);
            background-color: transparent;
            box-shadow: none;
            padding: 0px;
            z-index: 25;
        }
            #unmutedIcon{
                display: none;
            }
            #mutedIcon{
                display: none;
            }
        #defsTitle {
            visibility: hidden;
            margin: 2vh auto 2vh auto;
            height: min-content;
            color: rgb(148, 148, 148);
            font-weight: 100;
            font-size: 4vmin;
            z-index: 100;
            text-align: center;
        }
        #score{
            color: rgb(148, 148, 148);
            font-size: 2vmin;
            position: absolute;
            right: 2px;
        }

    #midContainer {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        margin-top: 16px;
        margin-bottom: 16px;
        height: 50vh;
        z-index: 4;
    }
        #revealBtn{
            grid-area: buttons;
            line-height: 0px;
            text-align: center;
            vertical-align: middle;
            color: rgb(148, 148, 148);
            font-weight: 100;
            background-color: rgba(30, 30, 30, 0.3);
            box-shadow: 1px 1px rgb(0, 0, 0, 1);
            user-select: none;
            cursor: pointer;
        }
        #defsCard {
            --pink: rgba(240, 46, 170, 0.4);
            --cyan: rgba(46, 240, 240, 0.4);
            display: flex;
            grid-area: defs;
            align-self: center;
            justify-self: center;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 5vmin;
            height: 45vmin;
            width: 45vmin;

            background-color: rgb(10, 10, 10, 0.45);
            box-shadow: 
            var(--pink) -4px 5px , var(--pink) 4px -5px ,
            var(--pink) -10px 10px ,  var(--pink) 10px -10px,
            var(--pink) -15px 15px, var(--pink) 15px -15px ;
            animation: growAndStyle 2000ms paused forwards;
            overflow-y: auto;
            overflow-x: hidden;
            z-index: 1;
        }
        
        ::-webkit-scrollbar{
            width: 20px;
        }
        ::-webkit-scrollbar-thumb{
            background-color: var(--scrollColor);
            height: 0.1vmin;
            border-left: 5px solid rgb(50, 50, 50);
            border-right: 5px solid rgb(50, 50, 50);
            border-top: 10px solid rgb(50, 50, 50);
        }
        ::-webkit-scrollbar-track{
            background:  rgb(50, 50, 50);
            margin-block: 4px;
        }
        @supports(scrollbar-color: red blue){
            #defsCard{
                scrollbar-color: var(--scrollColor) rgb(50, 50, 50);
            }
        }
        @keyframes growAndStyle {
            100% {
                width: 80vw;
                height: 50vh;

                box-shadow: 
                var(--cyan) -4px 5px , var(--cyan) 4px -5px ,
                var(--cyan) -10px 10px ,  var(--cyan) 10px -10px,
                var(--cyan) -15px 15px, var(--cyan) 15px -15px ;
                background-color: rgba(17, 17, 17, 0.14)
            }
        }        
            #defsList {
                position: relative;
                text-align: justify;
                text-rendering: optimizeLegibility;
                font-weight: 100;
                word-break: keep-all;
                color: rgb(239, 239, 239);
                font-size: 4vmin;
                z-index: 30;
                line-height: 150%;
            }
            #defsList > Li{
                list-style: none;
            }
            #defsList > Li::before{
                content: "→ ";
            }

                #cursor2 {
                    color: rgb(255, 255, 255);
                    font-size: 4vmin;
                    vertical-align: middle;
                    animation-name: blinking;
                    animation-duration: 0.5s;
                    animation-direction: alternate;
                    animation-timing-function: step-start;
                    animation-iteration-count: infinite;
                }
            /*These elements will be removed after the intro*/    
            #gameTitleContainer{
                height: 23vmin;
                word-wrap: normal;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }   
                #gameTitle {
                    color: rgb(187, 187, 187);
                    font-size: 6.5vmin;
                    font-weight: 100;
                    user-select: none;
                    text-align: center;
                }
                    #cursor {
                        font-size: 90%;
                        text-align: center;
                        animation-name: blinking;
                        animation-duration: 0.5s;
                        animation-direction: alternate;
                        animation-timing-function: step-start;
                        animation-iteration-count: infinite;
                        position: relative;
                        bottom: 0.5vmin;
                        color: rgb(239, 239, 239);
                    }

    #bottomContainer {
        display: flex;
        outline: 10px solid red;
        height: calc(var(--vh, 1vh)* 44);
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        z-index: 20;
    }
        #homeBtnsContainer{
            margin-top: 2vh;
        }
        #homeBtnsContainer > button{
            display: block;
            margin: 1vmin auto;
        }
        #infoContainer > button{
            display: block;
            margin: 1vmin auto;
            padding: 0px;
            background-color: transparent;
            box-shadow: none;
        }
        #btnContainer{
            display: none;
            align-items: center;
            justify-content: center;
            color: rgb(148, 148, 148);
            animation-name: showingUp;
            animation-direction: normal;
            animation-delay: 1s;
            animation-duration: 0.1s;
            animation-fill-mode: forwards;
            animation-play-state: paused;
            opacity: 0%;
            height: min-content;
            column-gap: 1vmin;
            margin-bottom: 1vmin;
        }
        #btnContainer > button{
            width: 7vmin;
            height: 5vmin;
            padding: 0px;
        }
        #btnContainer > button > a{
            color: rgb(148, 148, 148);
        }
        #copyAnswerBtn{
            display: none;
            padding: 8px 14px 8px 14px;
        }
        .running-animation {
            animation: goDown 2000ms forwards;
        }          
        @keyframes goDown {
            0%{
                transform: translateY(0);
            }
            100%{
                transform: translateY(100vh);
            }
        }
        #inputsContainer {
            display: none;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            column-gap: 0px;
            height: 5vmin;
            width: 4vmin;
            position: relative;
            overflow-x: hidden;
        }

            .letterInputs {
                font-size: calc(5vmin * 0.4);
                text-align: center;
                color: rgb(144, 144, 144);
                height: 5vmin;
                width: 4vmin;
                opacity: 100%;
                background-color: rgb(25, 25, 25);
                font-family: Arial, Helvetica, sans-serif;
                outline: 0;
                text-transform: lowercase;
                margin-left: 1vmin;
            }

#info {
    color: white;
    width: 4vmin;
    height: 4vmin;
    opacity: 40%;
}

button {
    font-size: 2vmin;
    line-height: 0px;
    text-align: center;
    vertical-align: middle;
    color: rgb(148, 148, 148);
    padding: 14px;
    font-weight: 100;
    background-color: rgba(30, 30, 30, 0.3);
    box-shadow: 1px 1px rgb(0, 0, 0, 1);
    user-select: none;
}
button:hover{
    cursor: pointer;
}
button:focus{
    --webkit-appearrence: none;
    outline: none;
}
button:active {
    scale: 0.9;
}

.btn:active {
    box-shadow: -2px 2px 5px rgba(0, 255, 225, 1), 2px -2px 5px rgba(240, 46, 170, 1) !important; 
}

#description {
    font-size: 2vmin;
    text-align: center;
    color: rgb(133, 133, 133);
}


@keyframes scale {
    0% {
        height: 36vmin;
        width: 36vmin;
    }

    100% {
        width: 80vw;
        height: 100vh;
    }
}

@keyframes blinking {
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


@keyframes showingUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes dealing_cards_translation {
    0%{
        right: 100vw;
    }
    100%{
        right: 0vw;
    }
}

@keyframes dealing_cards_spread {
    100% {
        width: 100vw;
        flex-wrap: wrap;
    }
}